In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import seaborn as sns

In [2]:
df = pd.read_csv("fuel_ferc1.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

#### Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [4]:
df.groupby("fuel_type_code_pudl").mean()["fuel_cost_per_unit_burned"].nsmallest(1)

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

#### Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [5]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

#### Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [6]:
fuel_burned = df["fuel_qty_burned"]
print(fuel_burned.skew(), fuel_burned.kurtosis())

15.851495469109503 651.3694501337732

#### Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [7]:
for idx, val in df.isna().sum().iteritems():
    print(f"Feature: {idx: <28}, \tTotal: {val: 3}, \tPercent: {100* val/ len(df):.3f}")

Feature: record_id                   , 	Total:   0, 	Percent: 0.000
Feature: utility_id_ferc1            , 	Total:   0, 	Percent: 0.000
Feature: report_year                 , 	Total:   0, 	Percent: 0.000
Feature: plant_name_ferc1            , 	Total:   0, 	Percent: 0.000
Feature: fuel_type_code_pudl         , 	Total:   0, 	Percent: 0.000
Feature: fuel_unit                   , 	Total:  180, 	Percent: 0.610
Feature: fuel_qty_burned             , 	Total:   0, 	Percent: 0.000
Feature: fuel_mmbtu_per_unit         , 	Total:   0, 	Percent: 0.000
Feature: fuel_cost_per_unit_burned   , 	Total:   0, 	Percent: 0.000
Feature: fuel_cost_per_unit_delivered, 	Total:   0, 	Percent: 0.000
Feature: fuel_cost_per_mmbtu         , 	Total:   0, 	Percent: 0.000

#### Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?4

In [8]:
df.fuel_unit.nunique()

9

#### Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [ ]:
plt.figure(figsize=(13,6))
plt.title("Feature Correlation Heat Map", fontsize=16)
sns.heatmap(df.corr(), annot=True)

display(df.corr()["fuel_cost_per_unit_burned"].sort_values()[1:3])

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

#### Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [ ]:
tot_val = df.groupby("report_year").sum()["fuel_cost_per_unit_burned"]
tot_val.pct_change(periods = 4)[:5]

#### Question 10
Which year has the highest average fuel cost per unit delivered?

In [ ]:
df.groupby("report_year").mean()["fuel_cost_per_unit_delivered"].nlargestrgest(1)